  <div class="page-header">
    <blockquote>
      <h1 align="center">MEAL ORDERING COORDINATION SYSTEM</h1>
    </blockquote>
  </div>

<div ng-controller="NavCtrl" class="col-md-6 col-md-offset-3">
  <div ng-show="signedIn()">
    <div class="row">
        <form class="form-inline" ng-submit="addOrder()">
          <div class="form-group">
            <p class="form-control-static">Soooo... where we order today? :)</p>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" ng-model="restaurant_name" placeholder="Put down restaurant name">
          </div>
          <button type="submit" class="btn btn-default">Start order!</button>
        </form>

        <h4>History of orders:</h4>
        <br/>

        <div ng-repeat="order in orders | orderBy:'-created_at'">
          <span style="font-size:20px; margin-left:10px;">
            <small>{{order.created_at | date:'yyyy-MMMM-dd'}}</small> 
            {{order.restaurant_name}}
            <span class="glyphicon glyphicon-ok"
              ng-click="finalize(order)"></span>
              <span class="glyphicon glyphicon-road"
              ng-click="deliver(order)"></span>
              <span class="glyphicon glyphicon-shopping-cart"
              ng-click="order(order)"></span>
          </span>
          <span>
            <a href="#/orders/{{order.id}}">Check meals!</a>
          </span>
        </div>
    </div>
  </div>

  <div ng-hide="signedIn()">
    <div class="jumbotron">
      <h1>Hungry?</h1>
        <p>Click Log in or Register and do what you have to! :)</p>
        <p><a class="btn btn-primary btn-lg" href="#/register" role="button">Register</a></p>
        <p><a class="btn btn-primary btn-lg" href="#/login" role="button">Log in</a></p>
    </div>
  </div>
</div>
