<div class="col-md-6 col-md-offset-3"> 
  <div ng-repeat="meal in order.meals">
    {{meal.user.username}} orders:
      {{meal.name}} - {{meal.price | currency}}
  </div>

  <form ng-submit="addMeal()"
    style="margin-top:30px;">
    <h3>Add meal</h3>

    <div class="form-group" class="row">
      <input type="text"
      class="form-control"
      placeholder="name"
      ng-model="name"></input>
      <input type="text"
      class="form-control"
      placeholder="price"
      ng-model="price"></input>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
