<html>
<head>
  <title>Meal Ordering Coordination System for Monterail</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="ordersApi">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div ui-view></div>
    <div class="col-md-6 col-md-offset-3" align="center">
      <div ng-include="'nav/_nav.html'"></div>    
      <ui-view></ui-view>
    </div>
  </div>
</body>
</html>
