<html>
<head>
  <title>Meal Ordering Coordination System for Monterail</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="ordersApi">
  <div class="row">
    <div class="col-md-12">
      <div ng-include="'nav/_nav.html'"></div>    
      <ui-view></ui-view>
    </div>
  </div>
</body>
</html>
